.site-banner {
	background-color: #1A324B;
	margin-bottom: 20px;
}

.site-banner h1 {
	color: white;
	margin: 10px 0px;
}

.login-button {
	margin: 10px 0px;
}

.site-banner ul {
	margin-top: 10px;
}

.site-banner img {
	height: 36px;
}

.site-banner li {
	color: white;
}

.site-banner button {
	background-color: #E82C0C;
	color: white;
}

body {
	background-color: #F2F2F2;
}