.site-banner {
	background-color: #1A324B;
}

.site-banner h1 {
	color: white;
	margin: 10px 0px;
}

.site-banner button {
	background-color: #BF5E26;
	color: white;
	margin: 10px 0px;
}

body {
	background-color: #F2F2F2;
}