{% extends "banner.html" %}
{% from 'macros.html' import categorybar %}
{% block title %}{{curr_category.name}}{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-md-3">
			{{ categorybar(categories, logged_in) }}
		</div>
		<div class="col-md-9">
			<div class="well">
				<h2>{{curr_category.name}}</h2>
				{% if curr_category.description %}
				<blockquote>
					{{curr_category.description}}
				</blockquote>
				{% endif %}
				{% if logged_in %}
				<div class="col-md-12 text-right">
					<ul class="list-inline list-unstyled">
						<li>
							<a href="{{url_for('CategoryEditPage', category_id=curr_category.id)}}">edit</a>
						</li>
						<li>
							<a href="{{url_for('CategoryDeletePage', category_id=curr_category.id)}}">delete</a>
						</li>
					</ul>
				</div>
				{% endif %}
				<h3>Items</h3>
				{% if not items %}
				<div class="row">
					<div class="col-md-12">
						<p>No items yet</p>
					</div>
				</div>
				{% endif %}
				<div class="row">
					{% for item in items %}
					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="{{url_for('ItemPage', item_id=item.id)}}">
							<div class="panel panel-default">
								<div class="panel-heading">{{item.name}}</div>
								<div class="panel-body">{{item.description}}</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
				{% if logged_in %}
				<a href="{{url_for('NewItem', category=curr_category.id)}}" class="btn btn-default">Add New Item</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}