{% extends "banner.html" %}
{% from 'macros.html' import categorybar %}
{% block title %}{{curr_category.name}}{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-md-3">
			{{ categorybar(categories, logged_in) }}
		</div>
		<div class="col-md-9">
			<div class="well">
				<h2>{{curr_category.name}}</h2>
				<blockquote>
					{{curr_category.description}}
				</blockquote>
				<h3>Items</h3>
				{% if not items %}
				<div class="row">
					<div class="col-md-12">
						<p>No items yet</p>
					</div>
				</div>
				{% endif %}
				<div class="row">
					{% for item in items %}
					<div class="col-sm-4 col-md-3 col-lg-2">
						<div class="panel panel-default">
							<div class="panel-heading">item.name</div>
							<div class="panel-body">item.description</div>
						</div>
					</div>
					{% endfor %}
				</div>
				{% if logged_in %}
				<a href="#" class="btn btn-default">Add New Item</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}