{% extends "banner.html" %}
{% from 'macros.html' import categorybar %}
{% block title %}{{curr_item.name}}{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-md-9">
			<div class="well">
				<h2>{{curr_item.name}}</h2>
				<blockquote>
					{{curr_item.description}}
				</blockquote>
				{% if logged_in %}
				<div class="row">
					<div class="col-md-12 text-right">
						<ul class="list-unstyled list-inline">
							<li>
								<a href="{{url_for('ItemEditPage', item_id=curr_item.id)}}">edit</span></a>
							</li>
							<li>
								<a href="#">delete</a>
							</li>
						</ul>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				<h3>{{category.name}}</h3>
				<ul class="list-unstyled">
					{% for item in items %}
					<li>
						<a href="{{url_for('ItemPage', item_id=item.id)}}">{{item.name}}</a>
					</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>

{% endblock %}